* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #005148;
  color: aliceblue;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.2rem;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  border-right: 2px solid white;

  padding: 5px;
}

header ul li a {
  color: white;
  margin-right: 5px;
  text-decoration: none;
}

header ul li a i {
  margin-right: 3px;
}

.toggle {
  display: none;
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.search {
  font-size: 20px;
  margin-left: 110px;
  padding: 5px;
  position: relative;
  right: 60px;
}

.sicon {
  margin-left: 5px;
}

/* navbar */
.navbar {
  display: flex;
  background-color: white;
  color: black;
  padding: 0.5rem 0rem;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  /* position: fixed; */
  width: 100%;
}

.navbar img {
  border-radius: 10%;
  height: 5.2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-right: 20%;

  color: black;
}

.navbar ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.817);
  font-weight: bold;
}

/* .dropdown */
.navbar ul li .dropdown1 {
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none;
  top: 8rem;
  font-size: 20px;
  margin-right: 10rem;
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 20px;
}

.navbar ul .dropdown1 li {
  padding: 3px;
  border-bottom: 1px solid #ddd;
}

.navbar ul li:hover .dropdown1 {
  display: block;
}

.navbar ul .dropdown2 {
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none;
  top: 8rem;
  background-color: white;
  padding: 20px;
  font-size: 20px;
}

.navbar ul .dropdown2 li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.navbar ul li:hover .dropdown2 {
  display: block;
}

.navbar .dropdown {
  display: none;
  position: absolute;
  background-color: white;
top: 8rem;
  z-index: 1;
  list-style: none;
  padding: 17px 20px;

  font-size: 20px;
  font-weight: bold;
  left: 48.5rem;
}

.navbar ul li:hover .dropdown {
  display: block;
}

.navbar ul .dropdown li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* .dropdown end */
/* image start */
.viewd {
  width: 100%;
  height: 368px;
}

.view {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  background-image: linear-gradient(to top left, #1d68af, #2075b8);
  width: 100%;
}

.view .state1 {
  position: relative;
  top: 2.813rem;
  left: 2rem;
  font-size: 40px;
  color: white;
}

.view .state1 a {
  text-decoration: none;
  color: aliceblue;
}

.view .state1 p {
  font-size: 28px;
}

.view .state1 button {
  background-color: hsla(43, 79%, 48%, 0.925);
  border-radius: 50px;
  font-size: 25px;
  color: white;
  padding: 15px;
  margin-top: 20px;
  width: 240px;
  font-weight: bold;
  border: none;
  margin-right: 100px;
}

.view .state1 button a {
  text-decoration: none;
  color: white;
}

.imagess {
  width: 45%;
  height: 368px;
}

.imagess img {
  height: 100%;
  width: 100%;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  bottom: 200px;
}

.carousel span {
  border: none;
  font-size: 40px;

  color: white;
  padding: 3px;
  cursor: pointer;

  background-color: linear-gradient(to top left, #1d68af, #2075b8);
}

.carousel span:hover {
  color: #ffffffc4;
}

/* image end */
/* start vertical text */
.vertical-text {
  writing-mode: vertical-lr;
  font-size: 1.5rem;
  color: white;
  position: fixed;
  top: 340px;
  right: 0rem;
  padding: 10px;
  border-radius: 17px 0px 0px 17px;
  background-color: green;

  width: 40px;
  height: auto;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;

  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.vertical-text i {
  color: white;
  font-size: 1.5rem;
  margin-left: 5px;
  padding: 10px 0px;
}

/* end vertical text */



.main2 {
  width: 100%;
  background-color: hwb(180 94% 0%);
  padding: 50px 0px;
}

.main2 .headh {
  text-align: center;
  font-size: 1.75rem;
  color: black;
  padding: 13px;
}

.parent {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
}

.parent .child1 {
  width: 40%;
  font-size: 20px;
  color: black;
  line-height: 1.5rem;
  text-align: justify;
  padding: 30px;
}

.parent .child2 {
  width: 40%;
  font-size: 20px;
  color: black;
  line-height: 1.5rem;
  text-align: justify;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.child2 .inner {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px grey;
  cursor: pointer;
  padding: 35px;
}

.child2 .inner h3 {
  color: hwb(120 5% 71% / 0.781);
}

.main2 span {
  position: relative;
  left: 47%;
  top: 0.5rem;
  width: 50px;
 
  bottom: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  padding: 0.6rem 2.1rem;
  background-color: #005148;
  border-radius: 10px;
}

/* end */
/* main3 start */
.main3 {
  background-color: hwb(180 94% 0%);
  width: 100%;
}

.main3 h2 {
  text-align: center;
  font-size: 2.5rem;
  color: black;
  padding: 20px;
}

.imgmain3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  
  text-align: center;
}

.imgmain3 img {
  width: 100%;
  height: 26rem;
  border-radius: 10px;
  cursor: pointer;
}

.imgmain3 h4 {
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 10px;

}

/* end */
/* certifications start */
.certifications {
  width: 100%;
  background-color: hwb(180 94% 0%);
  padding: 3rem 0rem;
}

.certifications h3 {
  text-align: center;
  font-size: 3rem;
  color: black;
  padding: 1rem;
  margin-bottom: 2rem;
}

.certificated {
  width: 80%;
  background-color: hwb(180 94% 0%);
  text-align: center;
  display: grid;
  gap: 3rem;
  margin-left: 8rem;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* end */

/* happy students */
.cardviewstu {
  width: 100%;
  background-color: white;
  padding: 4rem 0rem;
}

.happystudent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}

.happystudent .ph {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.235);
  text-align: center;
  font-size: 1.5rem;
  padding: 12px;
  background-color: white;
}

.ph span {
  font-size: 2rem;
  color: rgb(255, 200, 0);
}

/* end */
/* start card view */
.cardview {
  width: 100%;
  background-color: hwb(180 94% 0%);
  padding: 30px 0px;
}

.cardview h3 {
  color: black;
  text-align: center;

  font-size: 3rem;
  padding: 1rem;
}

.cardviewd {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 80%;
  margin: auto;
  padding: 1rem 1rem;
}

.card {
  width: 100%;
  height: 40rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem 0px;
  text-align: left;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.5rem;
  color: black;
  margin: 1rem 0;
}

.card p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.671);
  margin-bottom: 1.4rem;
}

.card button {
  background-color: #005148;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 13px 22px;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
  height: 35px;
}

.card button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.card button:hover {
  background-color: #003d3f;
}

.vlog {
  display: flex;
  justify-content: end;
  padding: 0.5rem 0.5rem;
  margin: 5px;
}

.vlog button {
  background-color: #005148;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 0.7rem 1.5rem;
  cursor: pointer;

  font-size: 1.3rem;
}

.vlog button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.vlog button:hover {
  background-color: #003d3f;
}

/* end card view */

/* start faq */
.faq {
  width: 100%;
  background-color: #f1f1f1;
  padding: 40px 0;
}

.faq h2 {
  text-align: center;
  font-size: 2.5rem;
  color: black;
  padding: 1rem;
}

.faq p {
  
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin-top: 20px;
}

.box {
  font-size: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 1.5rem auto;
  padding: 1rem;
  width: 80%;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.answer {
  display: none;
  margin-top: 1rem;
}

.box:hover .answer {
  display: block;
}

/* footer start */
footer {
  width: 100%;
  background-color: #005148;
  padding: 1rem 0rem;
}

.footers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #005148;

  width: 80%;
  margin: auto;
}

.footcont {
  background-color: #005148;
  color: white;
  border-bottom: 2px solid #ccc;
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: left;
}

.footcont h3 {
  color: white;
  margin-top: 1rem;
}
.footcont ul {
  list-style: none;
  padding: 1rem 0rem;
}

.footimage {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: #005148;
  margin-top: 1rem;
  margin-left: 8rem;
}

.footimage div img {
  height: 8.5rem;
  width: auto;
  border-radius: 1rem;
}

.imgp {
  color: white;
  font-size: 1.3rem;

  margin: 1rem 8rem;
  width: 80%;
}

.copyright {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  background-color: #003028;
}

/* footer end */
